@import url("https://fonts.cdnfonts.com/css/fantasista");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

// VARIABLES
$heading-font: "Fantasista", sans-serif;
$primary-font: "Quicksand", sans-serif;

// MIXINS
@mixin theme-heading($theme-heading: #112d4e) {
  background: $theme-heading;
  font-family: $heading-font;
}

@mixin headings {
  font-family: $heading-font;
  font-size: 3rem;
  padding: 1rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// Targeting all elements in the body
article > * {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  flex-wrap: wrap;
}

// Removing default styling for a tag
a,
a:link,
a:visited,
a:hover {
  text-decoration: none;
}

// MOBILE SCREEN HOME PAGE

// HEADER COMPONENT
header {
  @include theme-heading;

  height: 5vh;
  padding: 2.5rem;

  a {
    display: inline-block;
    transition: all 0.5s ease-in-out;
  }

  a:link,
  a:visited {
    font-size: 3rem;
    text-decoration: none;
    color: #f9f7f7;
  }

  a:hover {
    color: #4a84cb;
    transition: 1s;
  }
}

// NAV COMPONENT
nav {
  height: 10vh;
  padding: 1.25rem;
  @include theme-heading;

  a {
    display: inline-block;
    padding: 1.5rem;
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: 1s;
  }

  a:link,
  a:visited {
    color: #f9f7f7;
  }

  a:hover {
    color: #3f72af;
    text-decoration: 2px underline;
  }
}

// MAIN SECTION COMPONENT
main {
  background-color: #dbe2ef;
  height: auto;

  section {
    padding-bottom: 1rem;
  }

  figure {
    padding: 2rem;
    padding-bottom: 0.5rem;
  }

  img {
    width: 100%;
    padding: 2rem;
    max-height: auto;
    border-radius: 3rem;
  }

  p {
    font-family: $heading-font;
    font-size: 2rem;
    color: #1a5dae;
    text-align: center;
  }

  h1 {
    color: #112d4e;
    font-size: 4rem;
    font-family: $heading-font;
  }

  .button-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  button {
    font-size: 1.5em;
    font-family: $heading-font;
    color: #112d4e;
    background: transparent;
    padding: 1rem;
    border: 2px solid #112d4e;
    border-radius: 2rem;
    transition: 0.5s ease;
  }

  button:hover {
    background: #112d4e;
    color: #dbe2ef;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }

  .icons-container {
    margin-top: 1rem;
    padding: 1rem;

    i {
      margin-right: 1rem;
    }
  }
}

.about-me,
.projects,
.blogs {
  h1 {
    @include headings;
  }
}

// ABOUT ME COMPONENT

.about-me {
  background: #3f72af;
  height: auto;

  h1 {
    color: #f9f7f7;
  }

  figure {
    padding: 0 2rem;
  }

  img {
    width: 100%;
    border-radius: 3rem;
  }

  p {
    padding: 2rem;
    font-size: 1.5rem;
    font-family: $primary-font;
    color: #f9f7f7;
  }
}

// PROEJCTS COMPONENT &  BLOGS COMPONENT
.projects,
.blogs {
  background: #dbe2ef;
  height: auto;
  color: #112d4e;
  text-align: center;

  .cards-container {
    padding: 0 2rem 4rem;
  }

  h2 {
    font-size: 2.5rem;
    font-family: $heading-font;
    color: #f9f7f7;
    padding: 1rem;
  }

  p {
    font-size: 1.2rem;
    color: #f9f7f7;
    font-family: $primary-font;
    margin: 1rem;
  }

  //   PROJECT 1 CARD

  .card {
    font-family: $heading-font;
    width: 80%;
    height: auto;
    background: #112d4e;
    color: #f9f7f7;
    margin-bottom: 2rem;

    img {
      width: 100%;
      padding: 1rem;
    }

    a:hover {
      background: #547eb2;
      transition: 0.2s ease-in-out;
    }
  }
}

footer {
  background: #112d4e;
  padding: 0.5rem;
  height: auto;

  h1 {
    color: #f9f7f7;
    font-family: $heading-font;
    font-size: 2.5rem;
    padding-bottom: 0.5rem;
  }

  .icon-container-footer {
    display: flex;
    justify-content: center;
    margin: 0.5rem;

    i:first-child {
      padding: 1rem;
    }
  }
}

// MEDIA QUERIES FOR TABLET SIZE SCREENS

@media only screen and (min-width: 750px) {
  // NAVIGATION AND HEADER COMPONENTS
  header {
    position: absolute;
    justify-content: start;
    padding-top: 1.5em;

    a:link,
    a:visited {
      font-size: 2.5rem;
    }
  }

  nav {
    justify-content: end;

    a:link,
    a:visited {
      font-size: 1.5rem;
      z-index: 2;
    }
  }

  // MAIN SECTION COMPONENT
  main {
    display: grid;
    min-height: 50vh;
    height: auto;
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;

    figure {
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 1;
      grid-column-end: 2;
      padding-top: 2rem;
    }

    section {
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 2;
      grid-column-end: 3;
    }

    // BUTTON COMPONENT
    .button-container {
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 2;
      grid-column-end: 2;
      position: relative;
      top: 6rem;
      padding-top: 2rem;
    }

    // ICON COMPONENT
    .icons-container {
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: -2;
      grid-column-end: -2;
      position: relative;
      top: 11rem;
      left: 0.5rem;
      margin-top: 2rem;

    }
    p {
      font-size: 2.5rem;
    }

    h1 {
      font-size: 4rem;
    }

    img {
      padding: 0;
    }
  }

  //  ABOUT ME COMPONENT
  .about-me {
    h1 {
      font-size: 4rem;
    }

    img {
      width: 50%;
    }
  }

  // PROJECTS COMPONENT
  .projects,
  .blogs {
    h1 {
      font-size: 4rem;
    }

    .cards-container {
      display: wrap;
    }

    .card {
      max-width: 300px;
      margin: 1rem;
    }
  }
}

@media only screen and (min-width: 1100px) {
  // MAIN COMPONENET
  main {
    overflow: hidden;

    p {
      font-size: 4rem;
    }

    h1 {
      font-size: 5rem;
    }

    img {
      margin: 3rem;
      width: 80%;
    }

    section p:last-child {
      padding-bottom: 4rem;
    }
  }
  //   ABOUT ME COMPONENT
  .about-me {
    min-height: 70vh;
    height: auto;
    text-align: center;
    display: grid;
    height: auto;
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
    overflow: hidden;
    align-items: start;

  
    img {
      min-width: 70%;
    }

    h1 {
      grid-row-end: 1;
      grid-column-start: 2;
      grid-column-end: -2;
    }

    figure {
      grid-row-start: 1;
      grid-row-end: 3;
      grid-column-start: 1;
      grid-column-end: 2;
      margin: 1rem;
      width: 100%;
    }

    section {
      p {
        padding-top: 0;
      }
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 2;
      grid-column-end: 3;
      margin-top: 0rem;
      padding: 1rem;
      font-size: 1rem;
      line-height: 1.3;
    }
  }
}
// Added Media query to stop image from resizing too small in the about section
@media only screen and (min-width: 1101px) {
    .about-me {
        img {
            width: 350px;
        }
    }


    
}


// BLOGS PAGE

.blogs-title-width {
    width: 100%;
}


@media only screen and (min-width: 1724px) {

    .blogs {
       padding-bottom: 11rem;
        

      
        h1 {
            font-size: 5rem;
        }

        
    }

}



