@import url("https://fonts.cdnfonts.com/css/fantasista");
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Quicksand:wght@300..700&display=swap');

// VARIABLES
$heading-font: "Fantasista", sans-serif;
$primary-font: "Lato", sans-serif;

// MIXINS
@mixin theme-heading($theme-heading: #112d4e) {
    background: $theme-heading;
    font-family: $heading-font;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// Targeting all elements in the body
body > * {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #112d4e;
}

// Removing default styling for a tag
a,
a:link,
a:visited,
a:hover {
    text-decoration: none;
}

// MOBILE SCREEN HOME PAGE

// HEADER COMPONENT
header {
    @include theme-heading;

    height: 5vh;
    padding: 2.5rem;

    a {
        display: inline-block;
        transition: all 0.5s ease-in-out;
    }

    a:link,
    a:visited {
        font-size: 3rem;
        text-decoration: none;
        color: #f9f7f7;
    }

    a:hover {
        color: #4a84cb;
        transition: 1s;
    }
}

// NAV COMPONENT
nav {
    height: 10vh;
    padding: 1.25rem;
    @include theme-heading;

    a {
        display: inline-block;
        padding: 1.5rem;
        text-decoration: underline;
        text-decoration-color: transparent;
        transition: 1s;
    }

    a:link,
    a:visited {
        color: #f9f7f7;
    }

    a:hover {
        color: #3f72af;
        text-decoration: 2px underline;
    }
}

// MAIN SECTION COMPONENT

main {

    flex-wrap: wrap;
    background-color: #dbe2ef;
    
    

    section {
        padding-bottom: 2rem;
        
    }

    figure {
        padding: 2rem;
        padding-bottom: 0.5rem;
    }

    img {
        width: 100%;
        max-height: auto;
        border-radius: 20%;
        
    }

    p {
        font-family: $heading-font;
        font-size: 2rem;
        color: #1a5dae;
        text-align: center;
        
    }

    h1 {
        color: #112D4E;
        font-size: 4rem;
        font-family: $heading-font;
    }

    div {
        display: flex;
        width: 100%;
        justify-content: center;
        padding-bottom: 1rem;
    }

    button {
        display: inline-block;
        font-size: 2em;
        font-family: $heading-font;
        color: #112D4E;
        background: transparent;
        padding: 1rem;
        border: 2px solid #112D4E;
        border-radius: 2rem;
        transition: 0.5s ease;
    }

    button:hover {
        background: #112D4E;

        color: #DBE2EF;
        transition: 0.5s ease-in-out;
        cursor: pointer;
    }

    
}

.about-me {
    background-color: #d6e9fe;
}

.projects {
    background-color: #f5cf8e;
}

footer {
    background-color: #f09a9d;
}
