@import url("https://fonts.cdnfonts.com/css/fantasista");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

article > * {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  flex-wrap: wrap;
}

a,
a:link,
a:visited,
a:hover {
  text-decoration: none;
}

header {
  background: #112d4e;
  font-family: "Fantasista", sans-serif;
  height: 5vh;
  padding: 2.5rem;
}
header a {
  display: inline-block;
  transition: all 0.5s ease-in-out;
}
header a:link,
header a:visited {
  font-size: 3rem;
  text-decoration: none;
  color: #f9f7f7;
}
header a:hover {
  color: #4a84cb;
  transition: 1s;
}

nav {
  height: 10vh;
  padding: 1.25rem;
  background: #112d4e;
  font-family: "Fantasista", sans-serif;
}
nav a {
  display: inline-block;
  padding: 1.5rem;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: 1s;
}
nav a:link,
nav a:visited {
  color: #f9f7f7;
}
nav a:hover {
  color: #3f72af;
  text-decoration: 2px underline;
}

main {
  background-color: #dbe2ef;
  height: auto;
}
main section {
  padding-bottom: 1rem;
}
main figure {
  padding: 2rem;
  padding-bottom: 0.5rem;
}
main img {
  width: 100%;
  padding: 2rem;
  max-height: auto;
  border-radius: 3rem;
}
main p {
  font-family: "Fantasista", sans-serif;
  font-size: 2rem;
  color: #1a5dae;
  text-align: center;
}
main h1 {
  color: #112d4e;
  font-size: 4rem;
  font-family: "Fantasista", sans-serif;
}
main .button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
main button {
  font-size: 1.5em;
  font-family: "Fantasista", sans-serif;
  color: #112d4e;
  background: transparent;
  padding: 1rem;
  border: 2px solid #112d4e;
  border-radius: 2rem;
  transition: 0.5s ease;
}
main button:hover {
  background: #112d4e;
  color: #dbe2ef;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
main .icons-container {
  margin-top: 1rem;
  padding: 1rem;
}
main .icons-container i {
  margin-right: 1rem;
}

.about-me h1,
.projects h1 {
  font-family: "Fantasista", sans-serif;
  font-size: 3rem;
  padding: 1rem;
}

.about-me {
  background: #3f72af;
  height: auto;
}
.about-me h1 {
  color: #f9f7f7;
}
.about-me figure {
  padding: 0 2rem;
}
.about-me img {
  width: 100%;
  border-radius: 3rem;
}
.about-me p {
  width: 50ch;
  padding: 2rem;
  font-size: 1.5rem;
  font-family: "Quicksand", sans-serif;
  color: #f9f7f7;
}

.projects {
  background: #dbe2ef;
  height: auto;
  color: #112d4e;
  text-align: center;
}
.projects .project-container {
  padding: 0 2rem 4rem;
}
.projects h2 {
  font-size: 2.5rem;
  font-family: "Fantasista", sans-serif;
  color: #f9f7f7;
  padding: 1rem;
}
.projects p {
  font-size: 1.2rem;
  color: #f9f7f7;
  font-family: "Quicksand", sans-serif;
  margin: 1rem;
}
.projects .project-card {
  font-family: "Fantasista", sans-serif;
  width: 80%;
  height: auto;
  background: #112d4e;
  color: #f9f7f7;
  margin-bottom: 2rem;
}
.projects .project-card img {
  width: 100%;
  padding: 1rem;
}
.projects .project-card a:hover {
  background: #547eb2;
  transition: 0.2s ease-in-out;
}

footer {
  background: #112d4e;
  padding: 0.5rem;
  height: auto;
}
footer h1 {
  color: #f9f7f7;
  font-family: "Fantasista", sans-serif;
  font-size: 2.5rem;
  padding-bottom: 0.5rem;
}
footer .icon-container-footer {
  display: flex;
  justify-content: center;
  margin: 0.5rem;
}
footer .icon-container-footer i:first-child {
  padding: 1rem;
}

@media only screen and (min-width: 750px) {
  header {
    position: absolute;
    justify-content: start;
    padding-top: 1.5em;
  }
  header a:link,
  header a:visited {
    font-size: 2.5rem;
  }
  nav {
    justify-content: end;
  }
  nav a:link,
  nav a:visited {
    font-size: 1.5rem;
    z-index: 2;
  }
  main {
    display: grid;
    height: auto;
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
  }
  main figure {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    padding-top: 5rem;
  }
  main section {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    margin: 2rem;
  }
  main section p {
    font-size: 2.5rem;
  }
  main section h1 {
    font-size: 4rem;
  }
  main .button-container {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;
    position: relative;
    top: 8rem;
  }
  main img {
    padding: 0;
  }
  main .icons-container {
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 2;
    margin-top: 0;
  }
  .about-me h1 {
    font-size: 4rem;
  }
  .about-me figure {
    width: 80%;
  }
  .projects h1 {
    font-size: 4rem;
  }
  .projects .project-container {
    display: wrap;
  }
  .projects .project-card {
    max-width: 300px;
    max-height: 500px;
    margin: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
